{% extends "base.html" %}

{% block content %}
<h1>Start</h1>

<div class="charts-grid">
    <div class="chart-card">{{ temp_plot | safe }}</div>
    <div class="chart-card">{{ humidity_plot | safe }}</div>
    <div class="chart-card full">{{ temp_compare_plot | safe }}</div>
</div>


<h3>Wyniki pomiarów</h3>
{% if weather and weather|length > 0 %}
  <table class="weather-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Miasto</th>
        <th>Temperatura</th>
        <th>Odczuwalna</th>
        <th>Wilgotność</th>
        <th>Ciśnienie</th>
        <th>Wiatr prędkość</th>
        <th>Wiatr kierunek</th>
        <th>Data pomiaru</th>
      </tr>
    </thead>
    <tbody>
      {% for r in weather %}
        <tr>
          <td>{{ r.id }}</td>
          <td>{{ r.miasto }}</td>
          <td>{{ r.temperatura }}</td>
          <td>{{ r.odczuwalna_temperatura }}</td>
          <td>{{ r.wilgotnosc }}</td>
          <td>{{ r.cisnienie }}</td>
          <td>{{ r.wiatr_predkosc }}</td>
          <td>{{ r.wiatr_kierunek }}</td>
          <td>{{ r.data_pomiaru }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Brak danych do wyświetlenia.</p>
{% endif %}

{% endblock %}

